input.form-control {
    height: calc(1.5em + .55rem + 2px) !important;
}

.col-form-label, label {
    font-weight: bold !important;
}

.detail.row {
    padding: 10px;
}

.detail.row:nth-child(even) {
    background-color: #eeeeee;
}

#wrapper #content-wrapper {
    background-color: #eeeeee;
}

footer.sticky-footer {
    margin-top: 50px;
}

.bg-login-image {
    background: url("https://cdn.pixabay.com/photo/2019/09/10/20/11/dog-4467218_960_720.jpg");
    background-position: center;
    background-size: cover;
}