.form-control {
    height: calc(1.5em + .55rem + 2px) !important;
}

.col-form-label {
    font-weight: bold !important;
}

.detail.row {
    padding: 20px;
}

.detail.row:nth-child(even) {
    background-color: #f2f2f2;
}