{% extends 'base.html.twig' %}

{% block title %}New Quote{% endblock %}

{% block body %}
    <h1>Create new Quote</h1>
    {% include 'quote/_form.html.twig' %}
{% endblock %}

{% block javascripts %}
{% include 'quote/quotes_javascripts.html.twig' %}
{% endblock %}