<script type="text/javascript">
    var collectionHolderDetails = $('#details');
    var addDetailButton = $("#addDetail");

    bindLineItemDeleteEventListener();

    jQuery(document).ready(function () {
        var i = 0;

        addDetailButton.on('click', function (e) {
            e.preventDefault();
            addTagForm(collectionHolderDetails, i, 'detail');
            i++;
        });

    });


    function addTagForm(collectionHolder, i, type) {

        console.log(i, type);

        var prototype = collectionHolder.attr('data-prototype');

        var newForm = prototype.replace(/__name__/g, collectionHolderDetails.children().first().children().length);
        //newForm = '<div id="' + type + i + '" class="detail row">' + newForm + '</div>';

        var $newForm = collectionHolder.append(newForm);

        bindLineItemDeleteEventListener();
    }

    function bindLineItemDeleteEventListener() {
        $( ".line-item-delete" ).click(function() {
            $(this).closest('.detail.row').fadeOut( "slow", function() {
                // After animation completed:
                $(this).closest('.detail.row').remove();
            });
        });
    }

</script>
